/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@300&display=swap');
*{
    font-family: Quicksand;
    font-weight: bold!important;
} */
.out-site{
}

/* div-header */
.div-header{
    background-color: #56a4fe;
    height:  100px;
}

.div-header .title-header{
    font-family: -webkit-body;
    line-height: 100px;
    font-weight: bold;
    font-size: 18px;
}



/* div-main */
.div-main {
    min-height: 800px;
}

.box-login .title-form{
    font-size: 30px;
    text-align: center;
}
.div-main .box-login{
    height: 500px;
    border-radius: 10px;
    width: 576px;
    padding: 20px;
    border: 2px solid #fd7e14;
}


/* div-footer */

.div-footer{
    background-color: #56a4fe;
    height: 70px;
}
